[Unit]
Description=Dynamic key remapper for X11 and Wayland

[Service]
KillMode=process
ExecStart=/usr/bin/xremap %E/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Type=simple
Restart=always

[Install]
WantedBy=sway-session.target
